[mol_theme="$mol_theme_base"] {
	--mol_theme_back: black;
}

[mol_theme="$mol_theme_accent"] {
	--mol_theme_back: #FF59A3;
	--mol_theme_hover: #F050A0;
}

[my_tele2] [mol_button_typed] {
	border-radius: 2rem;
}

[my_tele2] [mol_link] {
	border-radius: 2rem;
}

[my_tele2_menu] {
	flex: 0 0 16rem;
}

[my_tele2_menu_body] {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

[my_tele2_tarif_list] {
	padding: .75rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

[my_tele2_tarif_list_empty] {
	padding: 0;
}

[my_tele2_scheme_list] {
	padding: .75rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

[my_tele2_settings_logo] {
	width: 40px;
}

[my_tele2_title] {
	justify-content: center;
}

[my_tele2_settings] {
	flex: 1 0 60rem;
}

[my_tele2_settings_body] {
	padding: .75rem;
}

[my_tele2_description] {
	max-width: none;
}

[my_tele2_groups] {
	padding: 0;
	justify-content: space-evenly;
	align-content: space-evenly;
}

[my_tele2_group] {
	margin: 0;
	flex: 0 0 20rem;
}

[my_tele2_group_title] {
	padding: 0 .75rem;
	font-weight: bolder;
}

[my_tele2_group_params] {
	display: flex;
	flex-direction: column;
	padding: .75rem 0;
}

[my_tele2_param_switch] {
	padding: .5rem .75rem;
}

[my_tele2_order] {
	margin: auto;
}

[my_tele2_settings_head] {
	align-items: flex-start;
}

[my_tele2_settings_foot] {
	padding: .5rem;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;
}

[my_tele2_settings_foot]>* {
	margin: .25rem;
}

[my_tele2_daily] {
	font-weight: bolder;
}

[my_tele2_partner] {
	margin: -.5rem;
}

[my_tele2_param_flag] {
	align-items: baseline;
}

[my_tele2_param_flag_title] {
	margin: 0 .5rem;
}
